<style>
    .share svg {
        width: 40px; /* Change the width */
        height: 40px; /* Change the height */
    }

    .share.facebook svg {
        fill: #3b5998; /* Change the color for Facebook */
    }

    .share.twitter svg {
        fill: #1da1f2; /* Change the color for Twitter */
    }

    .share.instagram svg {
        fill: #e4405f; /* Change the color for Instagram */
    }
</style>


<div class="flex justify-center align-items flex-row">
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ absolute_url(path('app_cosplay_show',{id: cosplay.id})) }}" class="share facebook">
        <svg class="w-6 h-6 text-blue-600 fill-current mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M24 12.073c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.99 4.388 10.954 10.125 11.854v-8.385H7.078v-3.47h3.047V9.43c0-3.007 1.792-4.669 4.533-4.669 1.312 0 2.686.235 2.686.235v2.953H15.83c-1.491 0-1.956.925-1.956 1.874v2.25h3.328l-.532 3.47h-2.796v8.385C19.612 23.027 24 18.062 24 12.073z"/>
        </svg>
    </a>
    <a href="https://twitter.com/intent/tweet?text={{ cosplay.nomcp }}%20{{ absolute_url(path('app_cosplay_show',{id: cosplay.id})) }}%20@SymBlog" class="share twitter">
        <svg class="w-6 h-6 text-blue-300 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M23.953 4.57a10 10 0 01-2.825.775 4.958 4.958 0 002.163-2.723c-.951.555-2.005.959-3.127 1.184a4.92 4.92 0 00-8.384 4.482C7.69 8.095 4.067 6.13 1.64 3.162a4.822 4.822 0 00-.666 2.475c0 1.71.87 3.213 2.188 4.096a4.904 4.904 0 01-2.228-.616v.06a4.923 4.923 0 003.946 4.827 4.996 4.996 0 01-2.212.085 4.936 4.936 0 004.604 3.417 9.867 9.867 0 01-6.102 2.105c-.39 0-.779-.023-1.17-.067a13.995 13.995 0 007.557 2.209c9.053 0 13.998-7.496 13.998-13.985 0-.21 0-.42-.015-.63A9.935 9.935 0 0024 4.59z"/>
        </svg>
    </a>
    <a href="https://www.instagram.com/?hl=en" class="share instagram">
        <svg class="w-6 h-6 text-purple-600 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M12 0c-2.743 0-3.095.012-4.169.06-1.073.048-1.79.213-2.426.463a4.901 4.901 0 0 0-1.771 1.142A4.899 4.899 0 0 0 1.523 4.405C1.173 5.04 1 5.757 1 6.83v10.339c0 1.072.173 1.79.524 2.426.349.635.856 1.162 1.49 1.496.635.333 1.352.509 2.426.509h10.343c1.073 0 1.79-.176 2.426-.525.634-.334 1.16-.841 1.496-1.494.333-.633.509-1.35.509-2.422V6.83c0-1.073-.176-1.79-.525-2.426a4.899 4.899 0 0 0-1.494-1.771A4.899 4.899 0 0 0 16.568.523c-.635-.25-1.352-.415-2.426-.464C15.094.012 14.743 0 12 0zm0 1.131c2.683 0 2.998.01 4.05.058.974.045 1.532.207 1.863.344.463.244.79.562 1.138 1.138.137.332.298.89.343 1.863.047 1.052.057 1.367.057 4.05s-.01 2.998-.057 4.05c-.045.974-.206 1.532-.343 1.864-.248.577-.655.984-1.138 1.137-.332.137-.89.297-1.863.343-1.052.047-1.367.057-4.05.057s-2.998-.01-4.05-.057c-.974-.046-1.532-.206-1.864-.343-.577-.248-.984-.655-1.137-1.138-.137-.332-.297-.89-.343-1.863-.047-1.052-.057-1.367-.057-4.05s.01-2.998.057-4.05c.046-.974.206-1.532.343-1.863.249-.463.566-.79 1.138-1.138.332-.137.89-.298 1.863-.343 1.052-.047 1.367-.057 4.05-.057z"/>
            <path d="M12 5.684a6.316 6.316 0 1 0 0 12.632 6.316 6.316 0 0 0 0-12.632zm0 10.47a4.154 4.154 0 1 1 0-8.307 4.154 4.154 0 0 1 0 8.307zM17.157 7.39a1.29 1.29 0 1 1-2.579 0 1.29 1.29 0 0 1 2.579 0z"/>
        </svg>
    </a>
</div>
