{% extends 'base.html.twig' %}

{% block title %}New Cosplay{% endblock %}

{% block body %}
    <h1>Ajouter Cosplay</h1>

    {{ include('cosplay/_form.html.twig') }}

    <a href="{{ path('app_cosplay_index') }}">back to list</a>
{% endblock %}
