{% extends 'base-back.html.twig' %}

{% block title %}New Materiaux{% endblock %}

{% block body %}
    <h1>Ajout Materiaux</h1>

    {{ include('materiaux/_form.html.twig') }}

    <a href="{{ path('app_materiaux_index') }}">back to list</a>
{% endblock %}
